$foreground:              #fff;
$background:           #fcfcfc;

$divider:              #e6e6e6;
$divider--dark:        #DEDEDE;
$divider--hover:       #C6C6C6;

$primary:              #0f1318;
$primary--dark:        #2D3031;
$primary--hover:       #2D3031;

$link:                 #06A68E;
$link--hover:          #038874;


$secondary:            #20877C;
$secondary--hover:     #2FA095;

$text:                 #7D7D7D;
$text--light:          #C4C4C4;
$text--dark:           #393B3C;

$white:                   #fff;
$white--hover:         #fcfcfc;