$foreground:              #fff;
$background:           #fcfcfc;

$divider:                 #eee;
$divider--dark:        #DEDEDE;
$divider--hover:       #C6C6C6;

$primary:              #27292B;
$primary--dark:        #2D3031;
$primary--hover:       #2D3031;

$link:                 #06A68E;
$link--hover:          #038874;


$secondary:            #E4CA2F;
$secondary--hover:     #FCEC89;

$text:                 #6e7479;
$text--light:          #6e7479;
$text--dark:           #27292B;

$white:                   #fff;
$white--hover:         #fcfcfc;