---
layout: home
title: I'M AN EXPERIENCED PRODUCT DESIGNER
tagline: WELCOME! MY NAME IS SHANE &
---
{% assign sorted = site.works | sort: 'date' | reverse %}
{% for works in sorted %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
{% if thecycle == 'even' %}
	{% assign flexreverse = 'u-flexRowReverse' %}
	{% assign imagealign = 'u-textLeft' %}
{% endif %}
{% if thecycle == 'odd' %}
	{% assign flexreverse = '' %}
	{% assign imagealign = 'u-textRight' %}
{% endif %}
	<div class="Work-short">
		<div class="Grid Grid--alignMiddle {{ flexreverse }}">
			<div class="Grid-cell u-md-size5of12">
				<div class="Work-summary">
					<div class="Grid Grid--alignMiddle">
							<h2 class="Work-short-title">{{works.title}}</h2>
							<p class="Work-short-date u-sm-spaceLeftMd u-sm-padLeftMd u-sm-borderLeft">{{ works.date | date: "%Y" }}</p>
					</div>
					<p>{{works.excerpt1}}</p>
					<p>{{works.excerpt2}}</p>
					<div class="u-displayBlock u-textCenter u-spaceEndsXXLg u-md-textLeft">
						<a href="{{works.url}}" class="Button">View Case Study →</a>
					</div>
				</div>
			</div>
			<div class="Grid-cell u-md-size7of12 {{ imagealign }}">
					<a href="{{works.url }}" class="Work-screenshot">
						<img class="Work-screenshot-img" src="{{ works.image_path }}" alt="{{works.title }}">
					</a>
			</div>
		</div>
	</div>
{% endfor %}
{{works.url }}