<footer>
	<div class="Container">
		<div class="Grid Grid--alignCenter">
			<div class="Grid-cell u-size-full u-md-size1of2">
				<img src="/assets/img/mail_secondary.svg" alt="Mail Icon"/>
				<h1 class="u-headingAlt">GET IN TOUCH</h1>
				<p class="u-textAlt">I'm currently available for full-time and freelance projects. If you like what you see, use the button below to get a hold of me! <br/>Even if you don't like what you see, I'm always game for a friendly, random conversation.</p>
				<a href="mailto:shane@showtimecreative.com" class="Button Button-secondary u-spaceTopLg u-spaceBottomXXXXLg">SEND ME A MESSAGE</a>
			</div>
		</div>
	</div>
	<div class="Footer-sub">
		<div class="Container">
			<div class="Grid Grid--alignMiddle">
				<div class="Grid-cell u-size-full u-md-size1of2 u-textLeft">
					<p class="u-spaceNone">© Showtime Creative {{ site.time | date: '%Y' }}</p>
				</div>
				<div class="Grid-cell u-size-full u-md-size1of2 u-textRight">
					<ul class="Social">
	          <li class="Social-item">
	            <a  target="_blank" class="Social-link Social-twitter-light" href="http://twitter.com/shane_foster14">Twitter</a>
	          </li>
	          <li class="Social-item">
	            <a target="_blank" class="Social-link Social-linkedin-light" href="https://www.linkedin.com/in/shanetfoster">LinkedIn</a>
	          </li>
	        </ul>
				</div>
			</div>
		</div>
	</div>

</footer>
