<footer>
	<div class="Container">
		<div class="Grid Grid--alignCenter">
			<div class="Grid-cell u-size-full u-md-size3of4">
				<img src="/assets/img/mail.svg" alt="Mail Icon"/>
				<h1>Get in Touch</h1>
				<p>I'm currently available for full-time and freelance projects. <br />If you like what you see, use the button below to get a hold of me! <br/>Even if you don't like what you see, I'm always game for a friendly, random conversation.</p>
				<a href="mailto:shane@shanefoster.design" class="Button u-spaceTopLg u-spaceBottomXXXXLg">SAY HELLO</a>
			</div>
		</div>
	</div>
	<div class="Footer-sub">
		<div class="Container">
			<div class="Grid Grid--alignMiddle">
				<div class="Grid-cell u-size-full u-md-size1of2 u-textLeft">
					<p class="u-spaceNone">© {{ site.time | date: '%Y' }}  Shane Foster Design </p>
				</div>
				<div class="Grid-cell u-size-full u-md-size1of2 u-textRight">
					<ul class="Social">
	          <li class="Social-item">
	            <a  target="_blank" class="Social-link Social-twitter" href="http://twitter.com/shanefoster_14">Twitter</a>
	          </li>
	          <li class="Social-item">
	            <a target="_blank" class="Social-link Social-linkedin" href="https://www.linkedin.com/in/shanetfoster">LinkedIn</a>
	          </li>
	          <li class="Social-item">
              <a target="_blank" class="Social-link Social-dribbble" href="https://dribbble.com/shanefoster">Dribbble</a>
            </li>
	        </ul>
				</div>
			</div>
		</div>
	</div>

</footer>
