<!--
{% if page.url == "/" %}
  {% assign logo_back = 'background-image:url(/assets/img/showtime_creative_logo.svg);' %}
  {% assign twitter_back = 'background-image:url(/assets/img/twitter_dark.svg);' %}
  {% assign linkedin_back = 'background-image:url(/assets/img/linkedin_dark.svg);' %}
{% else %}
  {% assign logo_back = 'background-image:url(/assets/img/showtime_creative_logo_light.svg);' %}
  {% assign twitter_back = 'background-image:url(/assets/img/twitter_light.svg);' %}
  {% assign linkedin_back = 'background-image:url(/assets/img/linkedin_light.svg);' %}
{% endif %}

{% if page.url == "/" %}
  {% assign header_back = 'background:#fcfcfc;' %}
  {% assign header_bar_style = 'background:#fff;border-bottom:1px solid #eee;' %}
{% elsif page.title == 'DanceLinked' %}
  {% assign header_back = 'background:#FF6B6B;' %}
{% elsif page.title == 'TeamSnap' %}
  {% assign header_back = 'background:#1667AC;' %}
{% elsif page.title == 'AppNexus – Tango' %}
  {% assign header_back = 'background:#0F6161;' %}
{% elsif page.title == 'AppNexus – ANM' %}
  {% assign header_back = 'background:#FD8426;' %}
{% elsif page.title == 'Fantuition' %}
  {% assign header_back = 'background:#0093EB;' %}
{% elsif page.title == 'University of Oregon Dance Team' %}
  {% assign header_back = 'background:#349F77;' %}
{% elsif page.title == 'CSS Zen Garden – Vegas' %}
  {% assign header_back = 'background:#CC1C2C;' %}
{% endif %}
-->
<header class="Header" role="banner">
  <div class="Header__bar" >
    <div class="Container">
      <div class="Grid Grid--alignMiddle">
        <div class="Grid-cell u-sm-size1of8">
          <a class="Header-logo" href="/"><strong>shane</strong>foster.</a>
        </div>
        <div class="Grid-cell u-sm-size6of8 u-sm-textRight">
          {% assign current = page.url | downcase | split: '/' %}
          
          <nav>
            <ul class="nav list--inline">
              <li><a href='/' {% if current[1] == null %}class='current'{% endif %}>Work</a></li>
              <li><a href='/about' {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
              <li><a href='/contact' {% if current[1] == 'contact' %}class='current'{% endif %}>Contact</a></li>
            </ul>
          </nav>


        </div>
        <div class="Grid-cell u-sm-size1of8">
          <ul class="Social">
            <li class="Social-item">
              <a target="_blank" class="Social-link Social-twitter" href="http://twitter.com/shanefoster_14">Twitter</a>
            </li>
            <li class="Social-item">
              <a target="_blank" class="Social-link Social-linkedin" href="https://www.linkedin.com/in/shanetfoster">LinkedIn</a>
            </li>
            <li class="Social-item">
              <a target="_blank" class="Social-link Social-dribbble" href="https://dribbble.com/shanefoster">Dribbble</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% if page.url != "/" %}
    {% assign custpad = 'u-padBottomNone u-padTopXXLg' %}
  {% endif %}
  
  {% if page.url == "/" %}
    {% include masthead_home.html %}
  {% elsif page.title == "About" %}
    {% include masthead_about.html %}
  {% elsif page.title == "Contact" %}
    {% include masthead_contact.html %}
  {% else %}
    {% include masthead_work.html %}
  {% endif %}
</header>

