<header class="Header" role="banner">
  <div class="Container">
    <div class="Grid Grid--alignMiddle">
      <div class="Grid-cell u-size1of2">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a class="Header-logo" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
      <div class="Grid-cell u-size1of2 u-textRight">
        <ul class="Social">
          <li class="Social-item">
            <a  target="_blank" class="Social-link Social-twitter-light" href="http://twitter.com/shane_foster14">Twitter</a>
          </li>
          <li class="Social-item">
            <a target="_blank" class="Social-link Social-linkedin-light" href="https://www.linkedin.com/in/shanetfoster">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Masthead Grid">
    <div class="Container">
      {% if page.url == "/" %}
        {% assign headerDetails = "Header-details-home"%}
      {% else %}
        {% assign headerDetails = "Header-details-work" %}
      {% endif %}
      <div class="Grid-cell u-size-full {{ headerDetails }}">
        {% if page.url == "/" %}
          <img class="Header-ginger" src="assets/img/shane_foster_designer_dark.jpg">
        {% endif %}

        
        <p class="Header-tagline u-spaceBottomNone">
          {% if page.tagline %}{{page.tagline}}{% endif %}
        </p>
        <h1 class="Header-title">
          {{ page.title }}
        </h1>
          {% if page.url == "/" %}
            <!-- <small>(I'M ALSO PRETTY TALL)</small> -->
          {% else %}
            <p class="Header-subtitle">
              {{ page.date | date: "%Y" }}
            </p>
            {% include pagination.html %}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</header>

