{% if page.url == "/" %}
  {% assign screen_shots = 'background:#fcfcfc;' %}
{% elsif page.title == 'DanceLinked' %}
  {% assign screen_shots = '/assets/img/work/dancelinked/dancelinked_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/dancelinked/logo-dancelinked.svg' %}
{% elsif page.title == 'Cloudability' %}
  {% assign screen_shots = '/assets/img/work/cloudability/cloudability_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/cloudability/logo-cloudability.svg' %}
{% elsif page.title == 'TeamSnap' %}
  {% assign screen_shots = '/assets/img/work/teamsnap/teamsnap_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/teamsnap/logo-teamsnap.svg' %}
{% elsif page.title == 'AppNexus – ANM' %}
  {% assign screen_shots = '/assets/img/work/anm/anm_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/anm/logo-appnexus.svg' %}
{% elsif page.title == 'Fantuition' %}
  {% assign screen_shots = '/assets/img/work/fantuition/fantuition_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/fantuition/logo-fantuition.svg' %}
{% endif %}

