<div class="Masthead {{ custpad }}">
  <div class="Container">
    <div class="Grid-cell u-size-1of2 {{ headerDetails }}">
      <div class="Grid Grid--alignCenter Grid--alignMiddle">
        <div class="Grid-cell u-md-size2of12 u-textcenter">
            {% if page.url == "/" %}
              <img class="Header-ginger" src="assets/img/shane_foster_designer.png">
            {% endif %}
        </div>
        <div class="Grid-cell u-md-size8of12 u-textLeft">
            <small class="Header-tagline u-spaceBottomNone">Welcome! I'm Shane &</small>
            <h1 class="Header-title">I'm a Product Designer living in <span style="text-decoration: line-through;">sunny</span> rainy Portland, OR.</h1>
            <p>I design products that help people reach their goals. I code them as well.</p>
        </div>
      </div>
    </div>
  </div>
</div>