{% if page.url == "/" %}
  {% assign screen_shots = 'background:#fcfcfc;' %}
{% elsif page.title == 'DanceLinked' %}
  {% assign screen_shots = '/assets/img/work/dancelinked/dancelinked_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/dancelinked/logo-dancelinked.svg' %}
{% elsif page.title == 'Cloudability' %}
  {% assign screen_shots = '/assets/img/work/cloudability/cloudability_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/cloudability/logo-cloudability.svg' %}
{% elsif page.title == 'TeamSnap' %}
  {% assign screen_shots = '/assets/img/work/teamsnap/teamsnap_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/teamsnap/logo-teamsnap.svg' %}
{% elsif page.title == 'AppNexus – ANM' %}
  {% assign screen_shots = '/assets/img/work/anm/anm_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/anm/logo-appnexus.svg' %}
{% elsif page.title == 'moovel' %}
  {% assign screen_shots = '/assets/img/work/moovel/moovel_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/moovel/logo-moovel.svg' %}
{% elsif page.title == 'Fantuition' %}
  {% assign screen_shots = '/assets/img/work/fantuition/fantuition_screens_devices.png' %}
  {% assign logo_path = '/assets/img/work/fantuition/logo-fantuition.svg' %}
{% endif %}

<div class="Masthead {{ custpad }}">
  <div class="Container">
    <div class="Grid Grid--alignMiddle">
      <div class="Grid-cell u-size-full u-sm-size1of3 u-flex u-flexCol u-flexNoWrap u-textLeft">
        {% if logo_path  %}
          <div class="Grid-cell u-md-size2of3">
            <img src="{{ logo_path }}">
          </div>
        {% else %}
          <h2 class="Header-title">{{works.title}}</h2>
        {% endif %}
        <h3 class="Header-title">
          {{ page.subtitle }}
        </h3>
            <p class="Header-subtitle">
              {{ page.date | date: "%Y" }}
            </p>
            {% include pagination.html %}
        </p>
      </div>
      <div class="Grid-cell u-size-full u-sm-size2of3 u-flex u-flexCol u-flexNoWrap">
        <img src="{{ screen_shots }}" />
      </div>
    </div>
  </div>
</div>