{% comment %}
#
#   I modified the original code from http://anjesh.github.io/2015/01/25/collection-pagination-working-github-pages/
#
#   Make a collection in _config.yml and create the folder _your_collection in your root.
#
#   collections:
#     your_collection:
#       output: true
#       permalink: /:collection/:title/
#
#
#
{% endcomment %}
{% for c in site.works %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.works %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.works %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}


<ul class="Pagination">
	{% if prevPost.url %}
  <li><a class="Pagination-button Pagination-left" href="{{ site.baseurl}}/{{ prevPost.url }}"></a></li><!--
  -->{% endif %}<li><a href="{{ site.baseurl }}/" class="Pagination-button Pagination-home"></a></li><!--
  -->{% if nextPost.url %}<li><a class="Pagination-button Pagination-right" href="{{ site.baseurl}}/{{ nextPost.url }}"></a></li>{% endif %}
</ul>