/** @define Button */

:root {
  --Button-border-color: currentcolor;
  --Button-border-width: 1px;
  --Button-color: inherit;
  --Button-disabled-opacity: 0.6;
  --Button-font: inherit;
  --Button-padding: $su-small $su-default;
}

/**
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit text color from ancestor.
 * 3. Inherit font styles from ancestor.
 * 4. Prevent button text from being selectable.
 */

.Button {
  background: $white;
  border-color: $divider--dark;
  border-radius: $border-radius;
  border-style: solid;
  border-width:1px;
  box-sizing: border-box; /* 1 */
  color:       $primary; /* 2 */
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: $su-default $su-xxlarge;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  user-select: none; /* 4 */
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  border: 1px solid $divider--hover;
  color:            $primary--dark;
  text-decoration:            none;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--Button-disabled-opacity);
}

.Button-secondary {
  background:             none;
  border: 1px solid $secondary;
  color:            $secondary;

  &:hover {
    border:1px solid $secondary--hover;
    color:               $white--hover;
  }
}