footer {
	background: #fcfcfc;
	border-top:     1px solid $divider; 
	padding:       $su-xxxxlarge 0 0 0;
	text-align:                 center;
}
.Footer-sub {
	background: $white;
	border-top:1px solid $divider;
	margin-top: $su-large;
	padding: $su-large;
}