header {
	padding:0;
	position: relative;
	text-align:center;

	a {
		color:$primary;
		text-decoration: none;
	}
}
.Header__bar {
	background: #fff;
	border-bottom:1px solid $divider;
	padding: 0;
}
.Header-logo {
	font-size: 18px;
}
.Header-ginger {
	height:112px;
	width: 112px;
}
.Header-tagline, .Header-subtitle {
	color: $text--light;
	margin: 0 0 $su-default 0;
}
.Header-title {
	color:          $text--dark;
	letter-spacing: $small-letterSpacing;
	line-height:       $small-lineHeight;
	margin: 0 0 16px 0;
}
main {
	background: #fff;
	padding-top:$su-xxlarge;
	position: relative;
}
