header {
	padding:$su-large 0;
	position: relative;
	text-align:center;
}
@media (min-width: $breakpoint-sm) { 
  header {
    padding: $su-large 0 0 0;
  }
}

.Header-logo {
		background: transparent url('../img/showtime_creative_logo.svg') no-repeat center center;
		display: block;
		height: 40px;
		width: 50px;
		text-indent: -999px;
}
.Header-ginger {
	height:72px;
	width: 72px;
}
.Header-title {
	letter-spacing: $small-letterSpacing;
	line-height:       $small-lineHeight;
	margin: 0;
}
main {
	background: transparent url('../img/body_gradient.png') repeat-x left top;
	position: relative;
}
