header {
	padding:0;
	position: relative;
	text-align:center;
}
.Header__bar {
	background: #fff;
	border-bottom:1px solid $divider;
	padding: $su-default 0;
}
.Header-logo {
		background-image: url('../img/showtime_creative_logo.svg');
		background-position: center center;
	  background-repeat: no-repeat;
		display: block;
		height: 40px;
		width: 50px;
		text-indent: -999px;
}
.Header-ginger {
	height:72px;
	width: 72px;
}
.Header-tagline, .Header-subtitle {
	color: $text--light;
}
.Header-title {
	color:                 $text--dark;
	letter-spacing: $small-letterSpacing;
	line-height:       $small-lineHeight;
	margin: 0;
}
main {
	background: #fff;
	padding-top:$su-xxlarge;
	position: relative;
}
