ul, ol {
  margin:$su-xlarge;
}
.list--bordered {
	margin: $su-xlarge $su-large;

	li {
		border-bottom: 1px solid $divider;
		list-style-position: inside;
		padding: $su-default 0;

		&:first-child {
			border-top:1px solid $divider;
		}
	}
}