.Social {
	display: inline-block;
	list-style: none;
	margin:0;
	padding: 0;
	text-align: center;
}
.Social-item {
	display: inline-block;
}
.Social-link {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 24px;
	margin: 0 0 0 $su-default;
	text-indent: -9999px;
	width: 24px;
	transition: transform .5s;
}
.Social-link:hover {
	transform: translate(0, -5px);
}
.Social-twitter {
	background-image: url('../img/twitter_dark.svg');
}
.Social-linkedin {
	background-image: url('../img/linkedin_dark.svg');
}
.Social-dribbble {
	background-image: url('../img/dribbble_dark2.svg');
}
.Social-twitter-light {
	background-image: url('../img/twitter_light.svg');
}
.Social-linkedin-light {
	background-image: url('../img/linkedin_light.svg');
}